@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@config '../../typography.ts';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text-xs: 0.8125rem;
  --text-xs--line-height: 1.5rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 3.5rem;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  --animate-side-nav-entry: expandable-side-nav-entry-animation 0.4s
    cubic-bezier(0.215, 0.61, 0.355, 1);

  @keyframes expandable-side-nav-entry-animation {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

@layer components {
  .leaflet-popup .leaflet-popup-content-wrapper {
    @apply bg-white text-zinc-900;
    border-radius: 5px;
    padding-right: 0.6rem;
  }

  .leaflet-popup .leaflet-popup-content {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .leaflet-popup .leaflet-popup-content span:first-child {
    font-size: 2.5rem;
    line-height: 1;
  }

  .leaflet-popup .leaflet-popup-tip {
    @apply bg-white;
  }

  .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-teal-500);
  }
}
