# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# React Router
/.react-router/
/build/

# misc
.DS_Store
/node_modules/
*.tsbuildinfo
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# Cloudflare
.mf
.wrangler
.dev.vars*

# typescript
*.tsbuildinfo
next-env.d.ts
